{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static '/css/main.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>My Portfolio</title>
  </head>

  <body>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-body h-100 border-info">
            <img
              id="profile-pic"
              src="{% static 'images/profile.png'%}"
              alt="lokesh"
            />
            <br />
            <h4>Hi I'm Lokesh</h4>
            <p>
              I'm enthusiastic in Data Science projects and Data Analysis
              projects
            </p>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card card-body h-100 border-info">
            <h4>My first job as Gis Engineer</h4>
            <hr />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis suscipit a, tempore et eaque aperiam sapiente
              reprehenderit quos autem distinctio omnis? Velit a cupiditate
              soluta, sint necessitatibus culpa sit aliquid.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quae
              officia assumenda facilis laborum maxime est fugit doloribus. Ex
              iure aperiam nihil deleniti. Sed vel laudantium, dolores deleniti
              natus ex.
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima,
              dolorum.
            </p>
            <ul class="social-links">
              <li>
                <a href="https://www.facebook.com/lokeshgptmbnr">
                  <img
                    class="social"
                    src="{% static 'images/facebook.png' %}"
                    alt="facebook"
                /></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/lokeshgptmbnr/">
                  <img
                    class="social"
                    src="{% static 'images/linkedin.png' %}"
                    alt="linkedin"
                  />
                </a>
              </li>
              <li>
                <a href="https://github.com/Lokeshgpt031">
                  <img
                    class="social"
                    src="{% static 'images/github.png' %}"
                    alt="github"
                  />
                </a>
              </li>
              <li>
                <a href="https://twitter.com/Lokeshmbnr2">
                  <img
                    class="social"
                    src="{% static 'images/twitter.png' %}"
                    alt="twitter"
                /></a>
              </li>
              <li>
                <a href="https://jovian.ml/lokeshgpt031">
                  <img
                    class="social"
                    src="{% static 'images/jovian.png' %}"
                    alt="jovian"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h4>My Specialization</h4>
            <hr />
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, ea.
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa
              eius rerum eligendi optio, ratione illum voluptatibus placeat
              neque dolores excepturi voluptates odio aperiam labore veniam?
              Eligendi ex dolore explicabo magnam dolor dolores modi
              praesentium, fuga et, deleniti aliquam unde error aperiam, sunt
              quam alias asperiores possimus. Odio nisi vero iure!
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h4>What i Know</h4>
            <hr />
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
              ea reprehenderit non qui unde illum obcaecati exercitationem
              itaque debitis, amet aut quasi officia in, eligendi dolorum. Quo
              et dolores impedit necessitatibus placeat, aliquid quasi non
              adipisci porro tempora beatae quaerat, cupiditate hic deleniti eos
              ad ipsum at repudiandae facilis sint!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
              placeat praesentium fugit quis totam tenetur consequuntur quo
              deleniti porro blanditiis.
            </p>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h4>How I Learn</h4>
            <hr />
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo,
              quo.
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque
              harum velit ipsum omnis, perspiciatis reprehenderit vitae modi
              nemo reiciendis dicta eaque quas eos itaque quibusdam nesciunt
              laboriosam aliquid pariatur autem! Architecto, obcaecati iste
              suscipit sunt, quisquam sint dolor dolorem quis aliquam, modi est
              possimus nihil enim sequi ipsam tenetur repellendus nam. Velit
              nostrum explicabo voluptate ducimus corporis. Nisi enim, debitis
              optio repellat facere atque expedita unde iure reprehenderit culpa
              corrupti omnis fuga aut illum, voluptate vero asperiores sunt
              error at, praesentium eaque architecto quibusdam. Similique ad ex
              consectetur optio ea repellat praesentium, necessitatibus rerum
              atque totam nulla corporis doloremque eum.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h4>My Short Term Goals</h4>
            <hr />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
              doloribus voluptatibus repudiandae perferendis nisi magni omnis
              ducimus, enim est aut quia similique optio nobis eius quaerat
              consequatur. Beatae ea rem nulla laborum laudantium libero!
              Exercitationem iusto dignissimos cupiditate voluptatibus! Facere,
              itaque est? Veritatis repudiandae, nemo commodi et repellat
              dolorum, quo ex nesciunt pariatur hic eligendi, quos laudantium!
              Praesentium hic inventore dolores, reiciendis quas magni cumque
              unde ab, a, sapiente sequi.
            </p>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
              asperiores nostrum officiis ad incidunt provident praesentium
              soluta ipsum, quas voluptatibus cumque tenetur quos porro dolorum
              consequuntur in eaque, aut atque quis. Qui molestias quisquam amet
              blanditiis magni, nesciunt tempora fuga fugit rem ut excepturi
              voluptate animi consequuntur similique porro necessitatibus
              doloremque nihil a, esse adipisci ad libero quibusdam. Iste, est
              nisi. Illum mollitia dolorem iusto tenetur repudiandae soluta,
              numquam fugit.
            </p>
          </div>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>
